.no-center {
    min-width: 25% !important;
    margin-left: 30% !important;
    margin-right: auto;
    transform: none !important;
}

.page-idxs {
    min-width: 9% !important;
    text-align: center;
}
